.git
.gitignore
.github
.vscode
.env
.env.*

node_modules
**/node_modules
**/dist
**/.tsbuildinfo
**/tsconfig.tsbuildinfo

coverage
data
*.md
!SECURITY.md
LICENSE
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
docker-compose.yml
Dockerfile
