name: CI

on:
  push:
    branches: [main, master]
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm
      - name: Install
        run: pnpm install -w --frozen-lockfile
      - name: TypeScript build
        run: npx tsc -b
      - name: Workspace build
        run: pnpm -w -r build
      - name: Workspace tests
        run: pnpm -w -r test
